{% extends 'base.html.twig' %}

{% block title %} Result {% endblock %}

{% block body %}
    <table>
        <tr>
            <td><h1>Project name: {{ Project.name }}</h1></td>
        </tr>
        <tr>
            <td>Employees:</td>
        </tr>
        {% for emp in Project.getEmployees() %}
            <tr>
                <td>{{ emp }} </td>
            </tr>
        {% endfor %}
        <tr>
            <td><h1>
                    Total cost: {{ Project.getTotalCost() }}
                </h1></td>
        </tr>
    </table>

{% endblock %}
